body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:1em;
}
ul {
    list-style-type: none;
    width:80&;
    margin: 0 auto;
    padding:0;

    
}

li:hover{
    background-color: rgb(34, 77, 104);
}

li {
    list-style-type: none;
    color: slategray;
    padding:10px;

}
a{
    text-decoration: none;
    color: slategray;
}
@media screen and (max-width:603px){
.site {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1 fr 3fr;
    grid-template-areas:
    "navbar navbar"
    "masthead masthead "
    "footer_info footer_info"
    "main main";

}

.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1 fr 3fr;
    grid-gap:5px;
    grid-template-areas:
    "image1 image1"
    "image2 image2"
    "image3 image3"
    "image4 image4"
    "image5 image5"
    "image6 image6"
    "image7 image7"
    "image8 image8"
    "image9 image9"
    "image10 image10";
}
li{
    background-color: rgb(34, 77, 104);
}
}



@media screen and (min-width:602px){
    .site {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "masthead masthead masthead"
        "navbar navbar navbar"
        "main main main"
        "footer_info footer_info footer_info";
    }
    .portfolio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1 fr 3fr;
        grid-gap:5px;
        grid-template-areas:
        "image1 image2 image2"
        "image3 image2 image2"
        "image4 image5 image6"
        "image4 image7 image8"
        "image9 image9 image10"
        "image9 image9 image10";
    }
 li {

     display:inline-block;
     padding: 2em;
     
 }
}
.masthead {
   
    grid-area:masthead;
    text-align: center;
}

.navbar{
  
    grid-area:navbar;
    text-align: center;

}

.main {
   
    grid-area: main;
    text-align: center;
}
.footer_info {
  
    grid-area: footer_info;
    text-align: center;
}


.image1{
   
    grid-area:image1;
    text-align: center;
}

.image2{

    grid-area:image2;
    text-align: center;
}

.image3{
 
    grid-area:image3;
    text-align: center;
}

.image4{
    
    grid-area:image4;
    text-align: center;
}

.image5{
   
    grid-area:image5;
    text-align: center;
}

.image6{
  
    grid-area:image6;
    text-align: center;
}

.image7{
    
    grid-area:image7;
    text-align: center;
}

.image8{
  
    grid-area:image8;
    text-align: center;
}

.image9{
    
    grid-area:image9;
    text-align: center;
}

.image10{
   
    grid-area:image10;
    text-align: center;
}

nav {
    width:100%;
    text-align: center;

}
.portfolio img{
    width:100%;
    text-align: center;

}